.content{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.content .content-left{
    width: 65%;
}

.content .content-right{
    width: 33%;
}

.content .content-left .every_day{
    width: 100%;
    height: 100px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    font-size: 14px;
}

@keyframes changeColor{
    from{
        color: #0088ef;
    }
    25%{
        color: #00efcd;
    }
    50%{
        color: #51ef09;
    }
    75%{
        color: #ef0098;
    }
    to{
        color: #0088ef;
    }
}

@keyframes changeFill{
    from{
        fill: #0088ef;
    }
    25%{
        fill: #00efcd;
    }
    50%{
        fill: #51ef09;
    }
    75%{
        fill: #ef0098;
    }
    to{
        fill: #0088ef;
    }
}

.content .content-left .every_day a{
    font-size: 12px;
    color: #0088ef;
    animation: changeColor 8s infinite;
}

.content .content-left .every_day svg{
    vertical-align: middle;
    animation: changeFill 8s infinite;
}

.content .content-left .every_day p{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.articleList{
    width: 100%;
    margin-top: 20px;
}


.articleList .article{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px 0;
}
.articleList .article .article-title{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
}

.articleList .article .article-title:hover{
    color: #337ab7;
}

.articleList .article .article-content{
    margin: 20px 0;
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.5;
}

.articleList .article .article-footer{
    background-color: #000;
    padding-left: 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.right-module{
    background-color: #191918;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.right-module .title{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #000;
}

.right-module .title a{
    color: #0088ef;
    animation: changeColor 8s infinite;
}

.right-module .main .tagList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.right-module .main .tagList .tag{
    margin:0 10px;
}


.right-module .main .hotList .hot{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #292929;
}

.right-module .main .hotList .hot a,
.right-module .main .youlianList .youlian a{
    color: #fff;
    font-size: 14px;
}

.right-module .main .hotList .hot a:hover,
.right-module .main .comments .comment div:last-child a:hover,
.right-module .main .youlianList .youlian a:hover,
.footer ul li a:hover{
    color: #337ab7;
}

.right-module .main .comments .comment{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #292929;
    font-size: 14px;
    color: #fff;
}

.right-module .main .comments .comment div:first-child{
    display: flex;
    margin-bottom:7px;
    justify-content: space-between;
    align-items: center;
}


.right-module .main .comments .comment div:first-child span:first-child{
    font-weight: 700;
}
.right-module .main .comments .comment div:last-child a{
    color: #777;
}

.right-module .main .youlianList .youlian{
    float: left;
    line-height: 40px;
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #292929;
    font-size: 14px;
}
